/*
Selector {
  property: value;
  property: value
} */
/* By element name */
body {
  color: red;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica;
  font-size: 16px;
  font-style: italic;
}

header {
  border-color: red;
  border-style: double;
  border-width: 10px;
  display: inline;
  height: 100px;
  margin-left: 1px;
  padding: 10px;


}

h1 {
  display: inline;
  margin-top: 5%;
  padding-top: 5px;
  padding-bottom: 5px;

}

p {
  display: inline-block;
}
/* By class name */
.classOne {

}

.classTwo {

}

/* By Id */
#idOne {

}
